/* Radio Css */
@import url(https://fonts.googleapis.com/css?family=Lato);
html,
/* body {
  height: 10%;
  font-family: "Lato";
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
/* h3{
  font-size: 1.2rem;
} */
/* .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */
label{
  user-select: none;
}
input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  z-index: 10;
  margin: 0 10px 10px 0;
  position: relative;
  color: #ced4da;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  font-weight: bold;
  background-color: #ffffff;
  border: 2px solid #ced4da;
  cursor: pointer;
  transition: all 200ms ease;
}

input[type="radio"]:checked + label {
  color: #6d8cff;
  background-color: #ced4da;
}

input[type="radio"] + label {
  padding: 5px 20px;
  border-radius: 10px;
}
